---
layout: layouts/base.njk
bodyClass: body-home
---
<!-- Delete this message
<div class="">
  
  <p><em>Thank you <a href="https://lumeland.github.io/">Oscar!</em></p>
  <img src="https://media.meer.com/attachments/a16a18a28551972fe1712e939f94395e039ae746/store/fill/1090/613/1ca37535a028ce56587a87ba0c2fd780fc5b27703d2f6ecab2c711d23021/The-piper-Carlos-Nunez.jpg" width=100/>
    <img src="https://i.pinimg.com/736x/d3/71/ba/d371ba61c9541060979fb6e59a74b01a.jpg" width=100/>
</div>
Stop deleting -->

{{ content | safe }}